<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
  <h2>Đăng nhập</h2>
  <form id="login-form">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Mật khẩu:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <li>
      <button id="loginBottom" class="btn btn-danger">Đăng Nhập</button>
    </li>

    <script src="../controller/login.js" type="module"></script>
</body>

</html>